body {
  background: rgb(231, 235, 234);
}

.textstyleF {
  color: azure;
}

.header-block {
  background-color: rgb(111, 126, 125);
  color: azure;
}

#search {
  width: 15%;
}

footer {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
